# Ignore virtual environments
.venv/
venv/
env/
eda_plots/

*.csv
*.xlsx
*.parquet

# Python cache
__pycache__/
*.pyc
dist/
build/
*.egg-info/

# macOS system files
.DS_Store

# Logs
*.log

# # Data files
# data/
